html, body{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

#backgroundhome{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/googlehomebg.JPG) no-repeat;
    background-size: contain;
}
#backgroundhomefooter{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(../img/googlehomefooter.JPG) center bottom no-repeat;
    background-size: contain;
}

#background{
    width: 100%;
    height: 100%;
    background: url(../img/googlesearchbg.jpg) no-repeat;
    background-size: contain;
}

#searchbarhome{
    width: 25%;
    height: 4%;

    position: absolute;

    top: 33%;
    left: 37%;
    z-index: 2;

    display: flex;
    align-items: center;

    font-size: 1vw;
    font-family: sans-serif;
}
input{
    border: none;
}

#searchbar{
    width: 25%;
    height: 4%;

    position: absolute;

    top: 2.5%;
    left: 9%;

    display: flex;
    align-items: center;

    font-size: 1vw;
    font-family: sans-serif;
}

#results{
    width: 32%;
    height: 80%;

    position: absolute;

    top: 20%;
    left: 8%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.result{
    width: 100%;
    height: 20%;

    background-color: black;
}
.result a{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#resultsSide{
    width: 30%;
    height: 78%;

    position: absolute;

    top: 20%;
    left: 44%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border: 2px solid black;
}
#resultsTitle{
    width: 100%;
    height: 20%;

    margin-bottom: 10%;

    background-color: black;
}
#resultsGrid{
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.resultblock{
    width: 25%;
    height: 40%;

    margin-right: 2%;
    margin-left: 2%;

    background-color: black;
}
.resultblock a{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}